/* nav */
nav {
  line-height: 100px;
  z-index: 5050;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.nav {
  line-height: 100px;
  z-index: 9999;
  position: relative;
  top: 100;
}

.page_underline {
  font-weight: bold;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
  text-shadow: 0px 0px 8px orange;
  box-shadow: 0px 2px 5px orange;
}

.underline {
  font-weight: bold;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s infinite linear;
  text-shadow: 0px 0px 8px orange;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
