/* rounded card with hover effect */
.rounded-card-parent {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.rounded-card-parent:hover {
  border-radius: 20px;
}

.rounded-card {
  color: white;
  padding: 30px;
  clip-path: inset(0px 0px round 50px 50px);
  background-color: rgba(56, 56, 56, 0.7);
  backdrop-filter: blur(20px);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.rounded-card:hover {
  clip-path: inset(0px 0px round 20px 20px);
}

.rounded-card.tint-glass-black {
  background-color: rgba(0, 0, 0, 0.5);
}
.rounded-card.tint-glass-cyan {
  background-color: rgba(0, 170, 200, 0.5);
}
.rounded-card.tint-glass-brown {
  background-color: rgba(128, 73, 0, 0.5);
}
.rounded-card.blurer {
  backdrop-filter: blur(20px);
}
